html,
body {
    background-color: #38393b;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

header {
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: #46494f;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.7);
}

header .logo {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    background: url('http://s.imgur.com/images/imgur-logo.svg') center center no-repeat;
    display: block;
}

.app.content {
    width: 1058px;
    margin: 30px auto 0 auto;
}

footer {
    clear: both;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    width: 1058px;
    color: #888f9e;
    font-weight: 300;
}

.panel {
    background-color: #46494f;
    float: left;
    border-radius: 2px;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.7);
    overflow: hidden;
}

.post {
    width: 728px;
}

.post .title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.post .description {
    padding: 20px 20px 40px 20px;
}

.post .loading {
    padding: 20px 20px 80px 20px;
}

.image .crop {
    background: black;
    width: 100%;
}

.image img,
.image video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.image .spacer {
    height: 30px;
}

.right-rail {
    margin: 0 0 30px 30px;
    width: 300px;
}

.nav-buttons button {
    border: none;
    color: white;
    padding: 15px;
    outline: none;
    cursor: pointer;
}

.nav-buttons button.primary {
    width: 70%;
    background: #5c69ff;
}

.nav-buttons button.secondary {
    width: 30%;
    background: #50545c;
}

.sidegallery {
    float: left;
}

.sidegallery li {
    margin-bottom: 15px;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.7);
    border-radius: 2px;
    background-color: #46494f;
}

.sidegallery li.selected {
    background-color: #767a82;
    font-weight: bold;
}

.sidegallery .thumb {
    display: block;
    width: 115px;
    height: 80px;
    float: left;
    background-position: center center;
}

.sidegallery h1 {
    float: left;
    width: 185px;
    height: 76px;
    padding: 10px;
    overflow: hidden;
}

.progress {
    margin-top: 10px;
    height: 20px;
    background: #000;
    border-radius: 2px;
    /*overflow: hidden;*/
}

.progress-inner {
    height: 100%;
    border-radius: 1px;
    animation: 3s pulse-progress infinite;
}

@keyframes pulse-progress {
    0%   { box-shadow: 0 0 10px 4px rgba(27, 183, 110, 0.7); background-color: rgba(27, 183, 110, 1); }
    50%  { box-shadow: 0 0 3px 1px rgba(27, 183, 110, 0.4);  background-color: rgba(27, 183, 110, 0.9);}
    100% { box-shadow: 0 0 10px 4px rgba(27, 183, 110, 0.7); background-color: rgba(27, 183, 110, 1);}
}


.stats {
    padding: 10px;
}

.stats div{
    margin-bottom: 5px;
}

.image-loading {
    padding: 20px;
}

.tab-bar {
    margin: 15px 0 10px 0;
    border-bottom: 1px solid white;
}

.tab-button {
    color: #b4b4b4;
    float: left;
    padding: 5px;

}

.tab-button.active {
    font-weight: bold;
    color: white;
}

.filelist,
.peerlist {
    padding: 5px;
}

.filelist li,
.peerlist li{
    margin-bottom: 5px;
}